.containerPlaceBirthday {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("/placeBirthday-background.svg");
  background-position: center;
  background-size: cover;
  color: #81948b;
  position: relative;
  margin-bottom: 2rem ;
}

.containerPlaceBirthday > div:first-child {
  margin-top: 3rem;
}

.containerPlaceBirthday h2 {
  margin-top: 1rem;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 900;
}

.containerPlaceBirthday p {
  letter-spacing: 1px;
  font-weight: 400;
  margin: 1rem 0;
}

/* Estilos para el formulario de modalForm */

.formAssistance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formAssistance input h3 {
  margin: 1rem 0.5rem;
}

.inputRadio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputRadio div {
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.inputRadio div label {
  font-weight: bold;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.inputRadio-margin {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inputRadio-margin input[type="radio"] {
  display: none;
}

.inputRadio-margin label {
  font-weight: lighter !important;
  font-size: 1.2rem;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  text-align: center;
}

.inputRadio-margin input[type="radio"]:not(:checked) + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 1px solid #81948b; /* Cambio en el grosor y color del borde */
  border-radius: 50%;
}

.inputRadio-margin label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border: 6px solid #767b35;
  border-radius: 50%;
}

.inputRadio-margin label:hover::before {
  border-color: #767b35;
}

/* Estilos input text */

.inputText {
  text-align: center;
  width: 100%;
}

.form-group {
  width: 100%;
}
.form-group input {
  text-align: center;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #81948b;
  margin: 1rem 0;
  padding-bottom: 0.8rem;
  font-size: 1rem;
}

#important-data {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  width: 100%;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #81948b;
  margin: 1rem 0 2rem 0;
  padding-bottom: 0.8rem;
}

/* Configuraciones del mapa */

.buttonDirections p{
  text-align: center;
}

.map{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.map iframe {
  margin: 1rem 0; 
  width: 225px;
  height: 250px;
}
