.containerPlaceBirthday {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('/placeBirthday-background.svg');
  background-position: center;
  background-size: cover;
  color: #81948b;
}
.containerPlaceBirthday div:first-child{
  margin-top: 3rem;
}

.containerPlaceBirthday h2 {
  margin-top: 1rem;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 900;
}

.containerPlaceBirthday p {
  letter-spacing: 1px;
  font-weight: 400;
  margin: 1rem 0;
}




