.modal {
  display: none;
  z-index: 99999999;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(245, 245, 245, 1);
  top: 0;
  left: 0; 
  
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  margin-top: 20%; /* Ajusta el margen superior según sea necesario */  
  padding: 20px;
  border-radius: 20px;
  max-width: 80%; /* Cambia width por max-width */
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}
.modal-content img{
  position: absolute;
  width: 100%;
  margin: auto;
  top: -120px;
  right: 0;
  left: 0;
  z-index: -1;
}

.section-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.section-content h3{
  color: #22443F;
  font-size: 1.5rem;
  margin-top: 2rem;
}



/* Estilos para cerrar el modal */
.close {
  color: #fff;
  background-color: #767b35;
  border-radius: 50%;
  border: none;
  line-height: 40px;
  width: 40px;
  height: 40px;
  font-size: 34px;
  position: absolute;
  top: -5px;
  right: 0px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
}



.close:hover,
.close:focus {
  transform: scale(0.95); /* Reducir el tamaño del botón al hacer hover o focus */
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para desactivar el scroll */
body.modal-open {
  overflow: hidden;
}