
#carousel{
    min-height: 100vh;
    width: 100%;
    background-image: url('/carousel-background.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
}

.carousel-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.group-carousel{
  width: 120vw;
}

.carousel-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
  width: 90%;
}
.carousel-title h3{
  font-family: 'Cookie', cursive;
  font-weight: 400;
  font-size: 2.5rem;
  width: 80%;
  margin: 1.5rem 0;
  color:  #22443F;
}
.carousel-title p{
  letter-spacing: 1px;
  color: #81948b;
  font-weight: 100;
  font-size: 1.2rem;
}

#animationWindow {
  width: 150px;
} 
#animationWindow  path{
  fill: #22443F;
}


.carousel-indicators{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
}
.carousel-indicators div {
  margin: 0 1rem;
}

.carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
  }
  
  .carousel-indicator.active {
    background-color: #333;
  }
  
  .carousel-image {
    position: relative;
    width: 80%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: white;
  }
  
  .carousel-image::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    transform: skew(-15deg);
  }
  
  .carousel-image::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 100%;
    height: 30px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  }
  
  .carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel-indicator.active {
    background-color: #333;
  }
  