/* Loader */
body{
  background: #f2e9dd;
}


.containerLoader {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader {
  height: 50px;
  width: 50px;
  background-color: #f20044;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 70px #f20044;
  animation: heart 0.6s linear infinite;
}

@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }
  80% {
    transform: rotate(-45deg) scale(1.0);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}

#loader::before {
  content: '';
  height: 50px;
  width: 50px;
  background-color: #f20044;
  position: absolute;
  top: -50%;
  border-radius: 35px;
  box-shadow: -10px -10px 70px #f20044;
}
#loader::after {
  content: '';
  height: 50px;
  width: 50px;
  background-color: #f20044;
  position: absolute;
  right: -50%;
  border-radius: 35px;
  box-shadow: 10px 10px 70px #f20044;
}

#content{
  height: 100vh;
  width: 100vw;
  background-image: url('/background-flowers.jpg');
  background-size: cover;
  background-position: center;
}

.paginaPrincipal{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dateBirthday{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dateBirthday h2, p{
  text-align: center;
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.button{
  background-color: #6f0e01;
  padding: 0.5rem 2.5rem;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50px;
  border: none;
}

.button:hover{
  background-color: #7c7d4f;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}